/*footer + content*/

#footer__area {
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #0e0906;
    padding:0px 20px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.footer__area--icons{
    display: flex;
    list-style-type: none;
}
.footer__area--copyright{
   display:block;
   color:#f2a65a ;
}
.icon__facebook, .icon__youtube, .icon__instagram, .icon__twitter{
   height:60px;
   width:60px;
}
.icon__facebook:hover, .icon__youtube:hover, .icon__instagram:hover, .icon__twitter:hover {
    color: #f2a65a;
    box-shadow: 0 0 5px #f2a65a, 0 0 10px #f2a65a;
  }

  footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
  }
  
  footer li {
     float:right;
     
  }
  
  footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 60px;
    text-decoration: none;
    
  }
  
  footer li a.active {
    color: white;
    background-color: #A0522D;
  }

  
@media only screen and (min-width: 800px) {
  
  /*footer + content*/
  .footer__area{
      width:100px;}
        /*footer + content*/

.footer__area--icons{
    margin:0px 20px 0px 10px;
}
footer li a{
    padding: 10px 20px;
    margin: 2px;
  }
}
@media only screen and (max-width: 800px) {
.icon__facebook, .icon__youtube, .icon__instagram, .icon__twitter{
    height:30px;
    width:30px;
 }

.footer__area--resize{
    display:flex;
    justify-content: center;
}
footer li a{
    padding: 10px 20px;
    margin: 2px;
  }

  #navigation{
    font-size: 15px;
  }
  .footer__area--copyright{
      text-align: center;
  }
}