/*Responsive css flexbox*/

h5,h6{
    font-size: 20px;
}
h5{
    color:#A0522D;
    font-family:cursive;
}
h6{
    color:white;
}
.img__resize{
width:400px;
height:300px;
}
.product__description{
    color:rgba(255, 255, 255, 0.5);
    font-family:cursive;
}
.product__filter {
    display: flex;
    justify-content:space-between;
    color:white;
    padding:10px;
    font-family:cursive;
}
     .collection__sort {
    display: flex;
    flex-direction: column;

  }
  /*Expands to flex container*/
  .product__filter h1 {
    flex-grow: 1;
    justify-content:flex-start;
    color:white;

  }
/*  .sort {
     display: flex;
   }
  .collection__sort {
    display: flex;
    flex-direction: column;
  }  */

  /*Flex Container for the cards allows for horizontal in new rows*/
  .products {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  /*flex-grow helps to fill my space trying to make 5 per row */
  .product__card {
    padding: 2%;
    flex-grow: 1;
    /*initial length of flexible item*/
    flex-basis: 16%;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.50);
    border-radius: 1px;
  
    /* display: flex;  so child elements can use flexbox stuff too! */
  }
  /*for images to fit within*/
  .product__image img {
    max-width: 280px;
  margin: auto;
  text-align: center;
  border-radius:10%;
  }
  /* aligning desc to bottom*/
  .product__info {
    margin-top: auto;
    background-color:rgba(0, 0, 0, 0.60);
    border-radius:10px;
  }

  /* for when there are less cards*/
  .products .product__card:first-child, 
  .products .product__card:nth-child(2) {
    flex: 2 46%;
  }

  @media (max-width: 600px) {
    /* less cards per row / making a column */
    .product__card {
      flex: 1 46%;
    }
    .product__image img {
        max-width: 400px;
    }
  }
  @media only screen and (min-width: 800px) {
    .product__card {
      flex: 1 46%;
    }
   
  }




  /* Product Css--JS*/

  .container {
    overflow: hidden;
  }
  
  .filter {
    display: none; 

    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    text-align:center;
    background-color: #25180fb2;
    border-radius: 1px;
  }
  

  .show {
    display: block;
  }
  
  .btn {
    border: none;
      outline: none;
      padding: 12px 16px;
      /* background-color: #f1f1f1; */
      color:white;
      background-color:#A0522D;
      cursor: pointer;
      float:left;
  }
  
  .btn:hover {
    background-color: #ac572f;
  }
  
  .btn:active {
    background-color: #A0522D;
      color: white;
  }
  .product__text{
      font-size: 30px;
      margin-top: 5px;
    }
    .filter__text{
      font-size: 26px;
      float:left;
      margin-right: 10px;
      margin-top:5px
    }
    .product__card:hover{
      background-color: rgba(255, 255, 255, 0.137);
      color:rgb(255, 255, 255);
    }
  @media only screen and (max-width: 800px) {
        .filter__text{
          float:none;
      font-size: 20px;
      text-align:center;
      }
      .btn {
      padding:10px 3.5px;
      color:white;
    }
      .product__text{
      font-size: 30px;
    }

    }